[submodule "laba9/https:/github.com/KlimenkoVladislav/Klimenko_1/tree/main/laba9"]
	path = laba9/https:/github.com/KlimenkoVladislav/Klimenko_1/tree/main/laba9
	url = https://github.com/KlimenkoVladislav/Klimenko_1
